html{
    scroll-behavior: smooth;
}


section{
    height: 100vh;
    padding: 2rem;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(102,117,241,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(137,247,224,1) 98.4% );

}

.navbar{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color:white;
    position: sticky;
    top: 0;
    width: 100%;
    /* height: %; */
    z-index: 10;
    box-shadow:  -7px 7px 20px #b5b5b5,
             7px -7px 20px #ffffff;
}

.logo img{
    position: relative;
    height: 75px;
    padding-left: 100%;
}

@media(max-width: 1000px){
    .logo img{
        height: 50px;
    }
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 2rem;
    display: block;
    font-size: larger;
    height: fit-content;
}

.navbar-links li:hover{
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: 33%;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media(max-width: 700px){
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none;
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }
}

@media(max-width: 1000px){
    .animated-title{
        padding: 10%;
    }

}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
    display:flex;
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 70%;
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 50%; 
    justify-content: center;
    align-items: center;
    
}
.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.animated-title > div div {
    font-size: 5vw;
    padding: 2vmin 0;
    position: absolute;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: #767676;
}
.animated-title > div.text-bottom {
    bottom: 0;
}
.animated-title > div.text-bottom div {
    font-size: 3.5vmin;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}


@keyframes fadeIn {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.scroll-down-button{
    display: flex;
    position: sticky;
    justify-content: center;
    padding-top: 70vh;
    animation-name: fadeIn;
    animation-duration: 5s;
}

.scroll-down-button img{
    width: 5vh;
    height: 5vh;
}

/* Software Section */
.software-section{
    padding-top: 20px;
    height: auto;
    
}

.header{
    text-align:left;
    padding-top: 2.5rem;
    color: white;
    position: relative;
    font-size:3.5vmin;
}

.software-grid{
    display: grid;
    gap: 75px;   
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 5%;
}

.software-grid img{
    width: 100%;
}

.software-grid .software-box{
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.software-grid .software-box img{
    vertical-align: middle;
}

.software-grid .software-box .caption{
    margin: 0;
    padding: 1em;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: translateY(100%);
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    text-align: center;
}

.software-grid .software-box:hover{
    transform: scale(1.5);
}

.software-grid .software-box:hover .caption{
    transform: translateY(0%);
}

/* End of software section */

/* Start of Project section */
.projects-section{
    padding: 3%;
}

.Project-header{
    text-align:left;
    top: 2%;
    color: white;
    position: relative;
    font-size:3.5vmin;
}

.carousel{
    height: 90%;
    width: 100%;
    align-items: center;
    
}

.flickity-viewport{
    height: 100% !important;
}

.flickity-slider{
    height: 100%;
}

.carousel-cell{
    margin-top: 3%;
    /* bottom is being used */
    width: 33%;
    margin-right: 10px;
    height: 80%;
    border-radius: 15px;
    display: flex;
    /* background-color: blanchedalmond; */
}

.box{
    height: 100%;
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

.slide-img{
    height: 50%;
}

.slide-img img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
    box-sizing: border-box;    
}

.detail-box{
    position: absolute;
    bottom: 0;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    box-sizing: border-box;
    background-color: white;
}


@media(max-width: 1000px){
    .carousel-cell{
        width: 100%;        
    }
}
/* End of Project section */

/* Start of About me section */
.about-section{
    height: 100vh;
}

.about-header{
    text-align:left;
    padding-top: 2.5rem;
    color: white;
    position: relative;
    font-size:3.5vmin;
}

.about{
    /* display: flex; */
    position: relative;
    height: 40%;
    background-color: black;
}

.about .myPic{
    /* object-fit: contain; */
    /* position: relative; */
    height: 100%;
    width: 40%;
}

.about .myPic img {
    height: 100%;
    width: auto;
}
/* End of About me section */