@mixin hideTapHighlightColor() {
    //Prevent highlight colour when element is tapped
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  @mixin hardwareAccel() {
    //Improve performance on mobile/tablet devices
    transform: translateZ(0);
  }
  
  @mixin improveAntiAlias() {
    //Improve aliasing on mobile/tablet devices
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

html{
    scroll-behavior: smooth;
}


section{
    height: 100vh;
    padding: 2rem;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(102,117,241,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(137,247,224,1) 98.4% );

}

.navbar{
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color:white;
    position: sticky;
    top: 0;
    width: 100%;
    /* height: %; */
    z-index: 10;
    box-shadow:  -7px 7px 20px #b5b5b5,
             7px -7px 20px #ffffff;
}

.logo img{
    position: relative;
    height: 75px;
    padding-left: 100%;
}

@media(max-width: 1000px){
    .logo img{
        height: 50px;
    }
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li :hover{
    transform: scale(1.2);
}



.navbar-links li a{
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 2rem;
    display: block;
    font-size: larger;
    height: fit-content;
}

.btn span{
    visibility: hidden;
}

@media(max-width: 700px){
    .btn{
        display: flex;
        visibility: visible;
        top: 20px;
        right: 20px;
        z-index: 2;
    }
    .btn span{
        visibility: visible;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        width: 18px;
        height: 2px;
        background: rgba(247,72,78,255);
        transition: .5s;
    }
    
    /*position of each line within the button space (distance from top and bottom of the height in .btn)*/
    .btn span:nth-child(1){
        top: 45%;
    }
    .btn span:nth-child(2){
        top: 55%;
    }
    
    .btn.is-active span{
        background: rgba(247,72,78,255);
    }
    
    /*transformation to X*/
    .btn.is-active span:nth-child(1){
        top: 50%;
        transform:  rotate(-45deg);
    }
    .btn.is-active span:nth-child(2){
        top: 50%;
        transform:  rotate(45deg);
    }

    .navbar-links.is-active{
        transition: .5s;
        opacity: 1;
        visibility: visible;
    }
    .navbar-links.is-off{
        transform: .5s;
        opacity: 0;
        visibility: hidden;
    }
    .menu_list.is-active:after:active{
        opacity: 0;
        visibility: hidden;
    }
    
    
    .menu_list  {
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }
    
    .menu_list:not(:last-child){
        margin-bottom: 30px;
    }
    
    .navbar-links {
        background: rgba(255, 255, 255, 1);
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 100px;
        z-index: 1;
        transform: .5s;
        opacity: 0;
        visibility: hidden;
    }
    /*each menu item */
    .menu_link {
        position: relative;
        display: inline-flex;
        font-weight: bold;
        font-size: 48px;
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
    }
    .menu_link:hover{
        text-decoration: none;
        color: rgba(247,72,78,255);
    }
    
}


@media(max-width: 1000px){
    .animated-title{
        padding: 10%;
    }

}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
    display:flex;
    color: #222;
    font-family: Roboto, Arial, sans-serif;
    height: 70%;
    left: 50%;
    position: absolute;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 50%; 
    justify-content: center;
    align-items: center;
    
}
.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.animated-title > div div {
    font-size: 5vw;
    padding: 2vmin 0;
    position: absolute;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
    border-bottom: 1vmin solid #000;
    top: 0;
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: #767676;
}
.animated-title > div.text-bottom {
    bottom: 0;
}
.animated-title > div.text-bottom div {
    font-size: 3.5vmin;
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}


@keyframes fadeIn {
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.scroll-down-button{
    display: flex;
    position: sticky;
    justify-content: center;
    padding-top: 70vh;
    animation-name: fadeIn;
    animation-duration: 5s;
    
}

.scroll-down-button img{
    width: 5vh;
    height: 5vh;
}

.scroll-down-button :hover{
    transform: scale(1.1);
    transition: transform 1s;
}